<div class="well well-lg">
  Father value is: <span style="color:red;font-weight: bold"> {{_familyValue}} </span>
  <hr>
  <form changeFamilyForm="ngForm" (ngSubmit)="changeValue(familyValue.value)">
    <div class="form-group">
      <label class="control-label">Family Value</label>
      <input type="text" #familyValue=ngModel name="familyValue" class="form-control input-sm" ngModel>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary">Change Value</button>
    </div>
  </form>
</div>
