<div class="page-header">
  <h4>Page not found</h4>
</div>
<div class="col-sm-6 col-sm-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Eror 404</strong><span class="close right" (click)="goHome()">&times;</span> </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-7">
          <h4>Ohh No</h4>
          <p>
            You have reached a page which is not exist..
          </p>
          <p>
            please check your spelling or contact system administrator for aditional help. system administrator mail is udimaz@gmail.com
            please call with caution
          </p>
          <p>
            to return to home press <a href="" [routerLink]="['/Home']">Home</a>
          </p>
        </div>
        <div class="col-sm-4">
          <img src="./../images/404.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="panel-footer"><small>udi mazor's Cookbook</small></div>
  </div>
</div>
