<div class="page-header">
  <h4><strong>Angular's Cookbook</strong></h4>
</div>
<div class="col-sm-offset-1 col-sm-7">
  <div class="panel panel-primary">
    <div class="panel-heading">Welcome to Angular's Cookbook<span class="close">&times;</span></div>

    <div class="panel-body">
      <div class="col-sm-5">
        <p>
          Here you can find code samples for common operations.

          <p>
          You can find Routing, Communication between components, Redux state management and much more.
          The Events components deals with Http Module.

          <p>
          There is also 404 error page which will be exposed
          if you'll try to reach a page which is not exist.
          
      </div>
      <div class="col-sm-6">
        <img src="./../../images/home.jpg" alt="">
      </div>


    </div>
    <div class="panel-footer"><small><strong>Angular Cookbook</strong></small></div>
  </div>
</div>
